 <style>body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	background: #f2f2f2;
}

.imac {
	width: 600px;
	perspective: 250px;
	position: relative;
}

.screen {
	height: 360px;
	background: no-repeat center url("https://img.search.brave.com/UkbpYO6u-6NQ5Gf7H_SwUYLYmHS2F_P3U7LQ1RiF2pM/fit/1200/1200/ce/1/aHR0cHM6Ly93d3cu/dGhlbm9sb2d5LmNv/bS93cC1jb250ZW50/L3VwbG9hZHMvMjAx/Ni8wMS82MDg4MzIu/anBn");
	background-size: cover;
	box-sizing: border-box;
	border: 14px solid black;
	border-top: 21px solid black;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.facetime__camera  {
	background: #222;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	margin: 0 auto;
	margin-top: -21px;
}

.chin {
	height: 44px;
	background: #dadada;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.logo {
	width: 3em;
	display: block;
	margin: 0 auto;
	transform: translatey(-1px);
}

.stand {
	margin: 0 auto;
	width: 120px;
	height: 100px;
	background: linear-gradient(to bottom, #c1c1c1, #EFEFEF);
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	perspective-origin: 150% 150%;
	transform-style: preserve-3d;
	transform: rotatex(100deg);
	margin-top: -26px;
	box-shadow: 0 4px 0 0 #D5D5D5;
}</style>
